<div class="sec2_heading">Table</div>
<div>
	<form class="sec2_p"> 
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="basic-addon1">search</span>
		  </div>
		  <input type="text" class="form-control" placeholder="Username" id="myInput">
		</div>
	  <table class="table" id="myTable">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">First</th>
		      <th scope="col">Last</th>
		      <th scope="col">Handle</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">1</th>
		      <td>Mark</td>
		      <td>Otto</td>
		      <td>@mdo</td>
		    </tr>
		    <tr>
		      <th scope="row">2</th>
		      <td>Jacob</td>
		      <td>Thornton</td>
		      <td>@fat</td>
		    </tr>
		    <tr>
		      <th scope="row">3</th>
		      <td>Larry</td>
		      <td>the Bird</td>
		      <td>@twitter</td>
		    </tr>
		  </tbody>
		</table>

	</form>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('.sec2_p').hide();
		$('.sec2_heading').click(function(){
			$('.sec2_p').slideDown(1000);
		})

		$('button').click(function(){
			$("#exampleInputEmail1").val("email Please");
		})

		$("#myInput").on("keyup", function() {
	    var value = $(this).val().toLowerCase();
	    $("#myTable tr").filter(function() {
	      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	    });
	  });
	})
</script>